[submodule "shared-modules"]
	path = shared-modules
	url = https://github.com/flathub/shared-modules.git
[submodule "shared-modules-fif"]
	path = shared-modules-fif
	url = git@github.com:F-i-f/flatpak-shared-modules-fif
